@font-face {
  font-family: "Mikhmoret";
  src: url("../fonts/mikhmoret-rounded-regular-aaa.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Mikhmoret";
  src: url("../fonts/mikhmoret-rounded-light-aaa.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Mikhmoret";
  src: url("../fonts/mikhmoret-rounded-bold-aaa.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
.color-primary {
  color: #F05353;
}

.text-color {
  color: #2F2970 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.push {
  position: relative;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 959px) {
  .md-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.object-fit-cover {
  object-fit: cover;
  object-position: center center;
  font-family: "object-fit: cover; object-position: center center;";
}

.object-fit-contain {
  object-fit: contain;
  object-position: center center;
  font-family: "object-fit: contain; object-position: center center;";
}

.text-center {
  text-align: center;
}

.flex-auto {
  flex: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.lg-visible, .lg-visible-flex {
  display: none !important;
}

@media screen and (max-width: 1329px) {
  .lg-hidden {
    display: none !important;
  }

  .lg-visible {
    display: block !important;
  }

  .lg-visible-flex {
    display: flex !important;
  }
}
.md-visible, .md-visible-flex {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .md-hidden {
    display: none !important;
  }

  .md-visible {
    display: block !important;
  }

  .md-visible-flex {
    display: flex !important;
  }
}
.sm-visible, .sm-visible-flex {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important;
  }

  .sm-visible {
    display: block !important;
  }

  .sm-visible-flex {
    display: flex !important;
  }
}
.xs-visible, .xs-visible-flex, .xs-visible-inline {
  display: none !important;
}

@media screen and (max-width: 575px) {
  .xs-hidden {
    display: none !important;
  }

  .xs-visible {
    display: block !important;
  }

  .xs-visible-flex {
    display: flex !important;
  }

  .xs-visible-inline {
    display: inline !important;
  }
}
.sub-xs-visible, .sub-xs-visible-flex {
  display: none !important;
}

@media screen and (max-width: 575px) {
  .sub-xs-hidden {
    display: none !important;
  }

  .sub-xs-visible {
    display: block !important;
  }

  .sub-xs-visible-flex {
    display: flex !important;
  }
}
@media screen and (max-width: 575px) {
  .xs-flex-right {
    margin-left: auto;
  }
}
a[href^=tel] {
  white-space: nowrap;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: rgba(47, 41, 112, 0.1);
  background-attachment: fixed;
}
body.how-we-work-page {
  background-attachment: scroll;
  background-size: 100% 100vh;
  background-position: center top;
}
body.overflow {
  overflow: hidden;
}
body.modal-visible {
  overflow: hidden;
  height: 100vh;
}
body img {
  max-width: unset;
}

ul, ol {
  list-style: none;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  font-family: inherit;
  box-shadow: none;
  border-radius: 0;
}

a, button {
  text-decoration: none;
  transition: all 0.3s;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

picture, iframe, figure {
  display: block;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .page-content {
  flex: auto;
  position: relative;
  z-index: 5;
}
.wrapper .footer {
  flex: none;
}

.container {
  width: 88.8889vw;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 72.7083vw;
  }
}

.cards-list {
  display: grid;
  grid-gap: 0.8333vw;
}
.cards-list.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.cards-list.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.cards-list.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}
.cards-list.columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
.cards-list.columns-6 {
  grid-template-columns: repeat(6, 1fr);
}
@media screen and (max-width: 1199px) {
  .cards-list.lg-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards-list.lg-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-list.lg-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards-list.lg-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 991px) {
  .cards-list {
    grid-gap: 8px;
  }
  .cards-list.md-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards-list.md-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-list.md-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards-list.md-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .cards-list.sm-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards-list.sm-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-list.sm-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .cards-list.xs-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards-list.xs-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-list.xs-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Mikhmoret", Arial, sans-serif;
  color: #2F2970;
  font-size: 1.4583vw;
  line-height: 1.214;
}

.tpg p {
  margin-bottom: 1.214em;
  font-size: 1.4583vw;
  line-height: 1.214;
}
.tpg p:last-child {
  margin-bottom: 0;
}
.tpg ul {
  margin-bottom: 1.214em;
}
.tpg ul:last-child {
  margin-bottom: 0;
}
.tpg ul li:before {
  content: "";
  display: inline-block;
  width: 0.5556vw;
  height: 0.5556vw;
  background: #F05353;
  border-radius: 50%;
  margin-right: 0.3472vw;
}

.section-caption .sc-title {
  font-size: 3.125vw;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 0.4167vw;
  position: relative;
}
.section-caption .sc-title:last-child {
  margin-bottom: 0;
}
.section-caption .sc-subtitle {
  font-size: 1.4583vw;
  line-height: 1.214;
}
.section-caption.text-center {
  text-align: center;
}

[class^=icon-], [class*=" icon-"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-phone-white {
  background: url(../img/icons/phone-white.png);
  width: 9px;
  height: 9px;
}

.icon-location-white {
  background: url(../img/icons/location-white.png);
  width: 7px;
  height: 11px;
}

.icon-clock-white {
  background: url(../img/icons/clock-white.png);
  width: 9px;
  height: 9px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
  padding: 0.1042vw 0 0.625vw;
}
.header .header-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: calc(100% + 0.7813vw * 2);
  margin-left: -0.7813vw;
  margin-right: -0.7813vw;
}
.header .header-inner .header-block {
  padding: 0 0.7813vw;
}

.logo-block {
  display: block;
}
.logo-block img {
  height: 5.625vw;
  width: auto;
  display: block;
}

.top-nav ul {
  display: flex;
}
.top-nav ul li:not(:last-child) {
  margin-left: 1.5625vw;
}
.top-nav ul li a {
  font-weight: 300;
  font-size: 1.3021vw;
  color: #2F2970;
}
.top-nav ul li a:hover, .top-nav ul li a:focus {
  color: #F05353;
}

.header-actions {
  display: flex;
  align-items: center;
}
.header-actions .facebook-link {
  margin-left: 1.9792vw;
}

.facebook-link .link-icon {
  width: 1.5625vw;
  height: 2.0833vw;
  fill: #2F2970;
  display: block;
  transition: all 0.3s;
}
.facebook-link:hover .link-icon, .facebook-link:focus .link-icon {
  fill: #F05353;
}

.cart-widget .show-cart-btn {
  width: 1.6667vw;
  height: 1.4583vw;
  position: relative;
  display: block;
  transition: all 0.3s;
}
.cart-widget .show-cart-btn .notification-circle {
  width: 0.625vw;
  height: 0.625vw;
  background: #F05353;
  border-radius: 50%;
  right: -0.1563vw;
  top: -0.1042vw;
  position: absolute;
}
.cart-widget .show-cart-btn svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: #2F2970;
  transition: all 0.3s;
}
.cart-widget .show-cart-btn:hover svg, .cart-widget .show-cart-btn:focus svg {
  fill: #F05353;
}

.footer {
  display: none;
}

.btn {
  text-align: center;
  padding: 0.6944vw 1.6667vw;
  min-height: 3.4375vw;
  border-radius: 0;
  font-size: 1.6667vw;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  white-space: nowrap;
  border: 0;
  color: #2F2970;
  border: 2px solid #2F2970;
  background: transparent;
}
.btn:hover, .btn:focus {
  background: #2F2970;
  color: #fff;
  outline: none;
}
.btn.btn-transparent {
  border-color: #F05353;
  color: #F05353;
  border-radius: 6px;
}
.btn.btn-transparent:hover {
  background-color: #2F2970;
  color: #fff;
}
.btn.btn-bg {
  border-radius: 6px;
  border-color: #F05353;
  background-color: #F05353;
  color: #fff;
}
.btn.btn-bg:hover {
  background-color: #2F2970;
  color: #fff;
}
.btn .btn-icon {
  width: 1.3889vw;
  height: 1.3889vw;
  flex: none;
  display: block;
  fill: currentcolor;
}
.btn .btn-icon:first-child {
  margin-right: 0.5556vw;
}
.btn .btn-icon:last-child {
  margin-left: 0.5556vw;
}
html[dir=rtl] .btn .btn-icon.rtl-reverse {
  transform: scaleX(-1);
}
html[dir=rtl] .btn .btn-icon:first-child {
  margin-right: 0;
  margin-left: 0.5556vw;
}
html[dir=rtl] .btn .btn-icon:last-child {
  margin-left: 0;
  margin-right: 0.5556vw;
}
.btn.btn-light {
  background: transparent;
  color: #fff;
  font-weight: 500;
  box-shadow: none;
  border: 2px solid #5B422C;
}
.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light.active {
  background: #5B422C;
}
.btn.btn-light.no-border {
  border: 0;
  color: #5B422C;
}
.btn.btn-light.no-border:hover, .btn.btn-light.no-border:focus {
  background: transparent;
  color: #fff;
}
.btn.w-btn {
  max-width: 15.1042vw;
  width: 100%;
}
.btn.btn-green {
  color: #fff;
  background: #F05353;
  font-weight: 500;
  box-shadow: none;
  border: 2px solid transparent;
}
.btn.btn-green:hover, .btn.btn-green:focus, .btn.btn-green.active {
  background: #ec2424;
}
.btn.btn-green.no-border {
  border: 0;
  color: #5B422C;
}
.btn.btn-green.no-border:hover, .btn.btn-green.no-border:focus {
  background: transparent;
  color: #fff;
}
.btn.fullwidth {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .btn {
    min-height: 40px;
    font-size: 16px;
    padding: 5px 15px;
  }
}

.form .input-field,
.form textarea,
.form .select-field select {
  border: 0;
  border: 0.1042vw solid #fff;
  -webkit-appearance: none;
          appearance: none;
  background: transparent;
  border-radius: 0;
  flex: auto;
  height: 3.125vw;
  font-size: 1.25vw;
  font-weight: 400;
  color: #fff;
  font-family: inherit;
  padding: 0;
  outline: none !important;
  transition: all 0.3s;
  width: 100%;
  box-shadow: none;
  text-align: center;
  border-radius: 1.5625vw;
}
.form .input-field::placeholder,
.form textarea::placeholder,
.form .select-field select::placeholder {
  opacity: 1;
  color: #fff;
}
.form .input-field:focus,
.form textarea:focus,
.form .select-field select:focus {
  border-color: #2F2970;
}
@media screen and (max-width: 991px) {
  .form .input-field,
.form textarea,
.form .select-field select {
    border-width: 1px;
    height: 11.1111vw;
    border-radius: 5.5556vw;
    font-size: 4.4444vw;
  }
}

.checkbox,
.wpcf7-checkbox label {
  display: block;
}
.checkbox .fake-label,
.checkbox .wpcf7-list-item-label,
.wpcf7-checkbox label .fake-label,
.wpcf7-checkbox label .wpcf7-list-item-label {
  display: block;
  padding-right: 1.4583vw;
  position: relative;
  font-size: 0.9375vw;
  line-height: 1.0417vw;
  font-weight: 400;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  display: block;
}
.checkbox .fake-label:before,
.checkbox .wpcf7-list-item-label:before,
.wpcf7-checkbox label .fake-label:before,
.wpcf7-checkbox label .wpcf7-list-item-label:before {
  content: "";
  display: block;
  width: 1.0417vw;
  height: 1.0417vw;
  border: 1px solid #fff;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s;
}
.checkbox .fake-label:after,
.checkbox .wpcf7-list-item-label:after,
.wpcf7-checkbox label .fake-label:after,
.wpcf7-checkbox label .wpcf7-list-item-label:after {
  content: "";
  display: block;
  width: 1.0417vw;
  height: 1.0417vw;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s;
  transform: scale(0.7);
  background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpath d='M14.71 1.21a1 1 0 00-1.42 0L5.84 8.67 2.71 5.53A1.02 1.02 0 101.29 7l3.84 3.84a1 1 0 001.42 0l8.16-8.16a1 1 0 000-1.47z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center/contain;
}
@media screen and (max-width: 991px) {
  .checkbox .fake-label,
.checkbox .wpcf7-list-item-label,
.wpcf7-checkbox label .fake-label,
.wpcf7-checkbox label .wpcf7-list-item-label {
    padding-right: 6.6667vw;
    font-size: 3.8889vw;
    line-height: 4.4444vw;
  }
  .checkbox .fake-label:before, .checkbox .fake-label:after,
.checkbox .wpcf7-list-item-label:before,
.checkbox .wpcf7-list-item-label:after,
.wpcf7-checkbox label .fake-label:before,
.wpcf7-checkbox label .fake-label:after,
.wpcf7-checkbox label .wpcf7-list-item-label:before,
.wpcf7-checkbox label .wpcf7-list-item-label:after {
    width: 4.4444vw;
    height: 4.4444vw;
  }
}
.checkbox:hover .fake-label,
.checkbox:hover .wpcf7-list-item-label, .checkbox:focus .fake-label,
.checkbox:focus .wpcf7-list-item-label,
.wpcf7-checkbox label:hover .fake-label,
.wpcf7-checkbox label:hover .wpcf7-list-item-label,
.wpcf7-checkbox label:focus .fake-label,
.wpcf7-checkbox label:focus .wpcf7-list-item-label {
  opacity: 0.8;
}
.checkbox input:checked + .fake-label,
.checkbox input:checked + .wpcf7-list-item-label,
.wpcf7-checkbox label input:checked + .fake-label,
.wpcf7-checkbox label input:checked + .wpcf7-list-item-label {
  opacity: 1;
}
.checkbox input:checked + .fake-label:after,
.checkbox input:checked + .wpcf7-list-item-label:after,
.wpcf7-checkbox label input:checked + .fake-label:after,
.wpcf7-checkbox label input:checked + .wpcf7-list-item-label:after {
  opacity: 1;
}

.contact-form.form input, .contact-form.form textarea {
  padding: 0 0.625vw;
}
.contact-form.form .form-field + .form-field {
  margin-top: 2.0833vw;
}
.contact-form.form .form-textarea textarea {
  margin-top: 0;
  resize: none;
  padding-bottom: 0.5208vw;
  border: 0.1042vw solid #2F2970;
  height: auto;
  min-height: 11.0938vw;
}
.contact-form.form .form-submit {
  margin-right: auto;
  margin-top: 2.6042vw;
}
.contact-form.form .form-submit input, .contact-form.form .form-submit button {
  cursor: pointer;
  padding-bottom: 0;
  padding-top: 0;
  min-height: 3.4375vw;
  font-size: 1.6667vw;
}
.contact-form.form .form-radio-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.625vw;
  margin-top: 2.0833vw;
}
.contact-form.form .form-radio-box .text {
  font-size: 1.3542vw;
  line-height: 1;
  font-weight: bold;
  color: #2F2970;
  font-family: inherit;
  margin-bottom: 2.3625vw;
  display: block;
  width: 100%;
}
.contact-form.form .form-radio-box .text, .contact-form.form .form-radio-box .form-radio-item {
  padding: 0 0.625vw;
}
.contact-form.form .form-radio-box .form-radio-item {
  display: flex;
  align-items: center;
}
.contact-form.form .form-radio-box .radio {
  padding: 0 0.625vw;
  cursor: pointer;
  position: relative;
}
.contact-form.form .form-radio-box .radio input[type=radio] {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.0521vw;
  height: 0.0521vw;
  margin: -0.0521vw;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contact-form.form .form-radio-box .radio input[type=radio]:focus + span {
  text-decoration: underline;
}
.contact-form.form .form-radio-box .radio input[type=radio] + span {
  font-size: 1.3542vw;
  line-height: 1;
  vertical-align: text-top;
  top: -0.4167vw;
}
.contact-form.form .form-radio-box .radio input[type=radio] + span:before {
  content: "";
  border-radius: 0;
}
.contact-form.form .form-radio-box .radio input[type=radio] + span:before {
  display: block;
  position: relative;
  background: transparent;
  height: 1.5625vw;
  width: 1.5625vw;
  border: 0.1563vw solid #2F2970;
  border-radius: 50%;
  top: -0.3125vw;
}
html[dir=ltr] .contact-form.form .form-radio-box .radio input[type=radio] + span:before {
  left: 0;
}
html[dir=rtl] .contact-form.form .form-radio-box .radio input[type=radio] + span:before {
  right: 0;
}
.contact-form.form .form-radio-box .radio input[type=radio]:checked + span:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background: #2F2970;
  width: 0.7292vw;
  height: 0.7292vw;
  border-radius: 50%;
  top: 0.1042vw;
}
html[dir=ltr] .contact-form.form .form-radio-box .radio input[type=radio]:checked + span:after {
  left: 0.4167vw;
}
html[dir=rtl] .contact-form.form .form-radio-box .radio input[type=radio]:checked + span:after {
  right: 0.4167vw;
}
.contact-form.form .form-radio-box .fake-label {
  display: flex;
  position: relative;
}
.contact-form.form .form-radio-box .fake-label:before {
  content: "";
  border-radius: 0;
  display: block;
  position: relative;
  top: 0;
  right: 0;
  height: 1.5625vw;
  width: 1.5625vw;
  border: 0.1563vw solid #2F2970;
  border-radius: 50%;
  margin-right: 0.7813vw;
}
.contact-form.form .form-radio-box .fake-label sup {
  font-size: 1vw;
  line-height: 1;
}
.contact-form.form .form-col {
  margin-top: 2.0833vw;
}
.contact-form.form .form-col .form-label {
  font-size: 1.3542vw;
  line-height: 1;
  font-weight: bold;
  color: #2F2970;
  font-family: inherit;
}
.contact-form.form .form-col .form-textarea textarea {
  margin-top: 1.5625vw;
}
.contact-form.form .form__checkbox {
  margin-top: 2.0833vw;
}

.form__checkbox {
  /* custom checkbox styling for contact form 7 checkbox */
}
.form__checkbox input[type=radio]:checked + .fake-label > .fake-checkbox:after {
  content: "";
  background-color: #2F2970;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 0.625vw;
  height: 0.625vw;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__checkbox .fake-label .fake-checkbox {
  position: relative;
}
.form__checkbox .fake-label .fake-checkbox:before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  right: 0;
  height: 1.5625vw;
  width: 1.5625vw;
  border: 0.1563vw solid #2F2970;
  border-radius: 50%;
}
.form__checkbox .wpcf7-checkbox label {
  position: relative;
  cursor: pointer;
  align-items: center;
  display: flex;
  height: 0.7813vw;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox] {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.0521vw;
  height: 0.0521vw;
  margin: -0.0521vw;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox]:focus + span {
  text-decoration: underline;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox] + span {
  font-size: 1.3542vw;
  line-height: 1;
  vertical-align: text-top;
  top: -0.4167vw;
}
html[dir=ltr] .form__checkbox .wpcf7-checkbox input[type=checkbox] + span {
  margin-left: 2.6042vw;
}
html[dir=rtl] .form__checkbox .wpcf7-checkbox input[type=checkbox] + span {
  margin-right: 2.6042vw;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox] + span:before {
  content: "";
  border-radius: 0;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox] + span:before {
  display: block;
  position: absolute;
  background: transparent;
  height: 1.5625vw;
  width: 1.5625vw;
  border: 0.1563vw solid #2F2970;
  border-radius: 50%;
  top: -0.3125vw;
}
html[dir=ltr] .form__checkbox .wpcf7-checkbox input[type=checkbox] + span:before {
  left: 0;
}
html[dir=rtl] .form__checkbox .wpcf7-checkbox input[type=checkbox] + span:before {
  right: 0;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox]:checked + span:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background: #2F2970;
  width: 0.7292vw;
  height: 0.7292vw;
  border-radius: 50%;
  top: 0.1042vw;
}
html[dir=ltr] .form__checkbox .wpcf7-checkbox input[type=checkbox]:checked + span:after {
  left: 0.4167vw;
}
html[dir=rtl] .form__checkbox .wpcf7-checkbox input[type=checkbox]:checked + span:after {
  right: 0.4167vw;
}
@media screen and (max-width: 768px) {
  .form__checkbox {
    /* custom checkbox styling for contact form 7 checkbox */
  }
}

.slick-slider .slick-slide {
  outline: none !important;
}
.slick-slider img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider-nav {
  display: flex;
  align-items: center;
  max-width: 70.8333vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.slider-nav .slick-dots {
  position: static !important;
}
.slider-nav .slick-arrow {
  position: static;
  transform: translateY(-0.2604vw);
}
.slider-nav .slick-arrow.slick-next {
  order: 3;
}
.slider-nav:first-child {
  margin-bottom: 3.0833vw;
}
.slider-nav:last-child {
  margin-top: 3.0833vw;
}

.slick-arrow {
  height: 3.2292vw;
  width: 3.2292vw;
  z-index: 20;
  background: transparent;
  transition: all 0.3s;
}
.slick-arrow svg {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 0.3s;
}
.slick-arrow:before {
  content: "";
  display: none;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: -1.5625vw !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-dots li {
  margin: 0 0.4688vw;
  width: 0.8333vw;
  height: 0.8333vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li button {
  width: 0.8333vw;
  height: 0.8333vw;
  background: transparent;
  padding: 0;
  opacity: 1;
  transition: all 0.3s;
  border-radius: 50%;
  border: 0.1042vw solid #F05353;
  background-color: #fff;
}
.slick-dots li button:before {
  display: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
  opacity: 1;
  background: #F05353;
}
@media screen and (max-width: 991px) {
  .slick-dots li {
    width: 10px;
    height: 10px;
  }
  .slick-dots li button {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 576px) {
  .slick-dots li {
    width: 8px;
    height: 8px;
  }
  .slick-dots li button {
    width: 8px;
    height: 8px;
  }
}

.modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.28);
  overflow-y: auto;
  overscroll-behavior-y: contain;
  z-index: 999;
  visibility: hidden;
  transition: visibility 0.4s, opacity 0.4s;
  cursor: pointer;
  opacity: 0;
}
.modal .modal-dialog {
  width: calc(100% - 15px * 2);
  max-width: 1170px;
  margin: 60px auto;
  cursor: default;
  flex: none;
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transition-delay: 0.2s;
}
.modal.visible {
  visibility: visible;
  opacity: 1;
}
.modal.visible .modal-dialog {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.modal.video-modal .modal-dialog {
  width: auto;
  max-width: 70vw;
}
@media screen and (max-width: 991px) {
  .modal.video-modal .modal-dialog {
    max-width: 90vw;
  }
}
.modal.video-modal .modal-content {
  background: transparent;
  padding: 0;
}
.modal.video-modal .modal-video {
  width: 100%;
  position: relative;
}
.modal.video-modal .modal-video:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.modal.video-modal .modal-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  border: 0;
}
.modal.video-modal .modal-video.vimeo:before {
  padding-top: 52%;
}
.modal .modal-content {
  background: #fff;
  border-radius: 0;
  position: relative;
  padding: 60px 100px;
}
.modal .modal-text {
  text-align: center;
}
.modal.small .modal-dialog {
  max-width: 420px;
}
.modal.small .modal-content {
  padding: 40px 50px 50px;
}
@media screen and (max-width: 575px) {
  .modal.small .modal-content {
    padding: 40px 30px 50px;
  }
}
@media screen and (max-width: 1229px) {
  .modal .modal-content {
    padding: 40px 30px;
  }
}
@media screen and (max-width: 575px) {
  .modal .modal-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.modal-close {
  position: absolute;
  right: -1.4063vw;
  top: -1.4063vw;
  width: 2.8125vw;
  height: 2.8125vw;
  opacity: 1;
  transition: all 0.3s;
  -webkit-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72'%3E%3Cdefs%3E%3ClinearGradient id='b' x1='.9' y1='-.1' x2='.2' y2='.9' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2382c8dc'/%3E%3Cstop offset='1' stop-color='%2300a0be'/%3E%3C/linearGradient%3E%3Cfilter id='a' x='0' y='0' width='72' height='72' filterUnits='userSpaceOnUse'%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='3' result='blur'/%3E%3CfeFlood flood-opacity='.1'/%3E%3CfeComposite operator='in' in2='blur'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Cg transform='translate(9 9)' stroke='%23fff' fill='url(%23b)'%3E%3Ccircle cx='27' cy='27' r='27' stroke='none'/%3E%3Ccircle cx='27' cy='27' r='26.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg fill='none' stroke='%23fff' stroke-width='3'%3E%3Cpath d='M27.3 27.3l18.4 18.4'/%3E%3Cpath d='M45.7 27.3L27.3 45.7'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center/contain;
  z-index: 5;
}
@media screen and (max-width: 991px) {
  .modal-close {
    width: 40px;
    height: 40px;
    right: -20px;
    top: -20px;
  }
}

.menu-opener {
  display: flex;
  flex-direction: column;
  width: 26px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  background: transparent;
  position: relative;
}
.menu-opener:before {
  content: "";
  display: block;
  width: calc(100% + 10px * 2);
  height: calc(100% + 10px * 2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-opener .bar {
  background: #F05353;
  height: 3px;
  border-radius: 2px;
  display: block;
  margin-bottom: 4px;
  transition: all 0.3s;
  width: 24px;
}
.menu-opener .bar:last-child {
  margin-bottom: 0;
}
.menu-opener .bar:nth-child(2) {
  position: relative;
}
.menu-opener .bar:nth-child(2):before {
  transition: transform 0.3s, opacity 0.3s;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: center center;
  border-radius: inherit;
}
.menu-opener:hover .bar, .menu-opener:focus .bar {
  background: #F05353;
}
.menu-opener.active .bar:last-child, .menu-opener.active .bar:first-child {
  opacity: 0;
}
.menu-opener.active .bar:first-child {
  transform: translateY(-15px);
}
.menu-opener.active .bar:last-child {
  transform: translateY(15px);
}
.menu-opener.active .bar:nth-child(2) {
  position: relative;
  transform: rotate(-45deg);
}
.menu-opener.active .bar:nth-child(2):before {
  transform: rotate(90deg);
  opacity: 1;
}
.menu-opener:focus {
  outline: none;
}

.about-section {
  padding-top: 2.6042vw;
  padding-bottom: 2.6042vw;
  background-color: #fff;
  margin-top: 6.3542vw;
  padding-right: 14.7917vw;
  padding-left: 14.7917vw;
}
@media screen and (max-width: 991px) {
  .about-section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 122px;
  }
}
@media screen and (max-width: 4660px) {
  .about-section {
    margin-top: 122px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.slider-info-section {
  padding: 2.8646vw 0;
  background-color: #FAFAFB;
  padding-left: 14.7917vw;
  padding-right: 14.7917vw;
}
.slider-info-section .slider-info {
  padding-bottom: 1.0417vw;
}
.slider-info-section .slider-info-item {
  display: flex;
  justify-content: center;
}
.slider-info-section .block-image {
  margin-left: 1.0417vw;
}
.slider-info-section .block-image img {
  display: block;
  width: 19.7917vw;
  height: 16.4583vw;
}
.slider-info-section .block-content {
  margin-top: 5.2083vw;
  max-width: 36.4583vw;
  width: 100%;
}
.slider-info-section .section-caption {
  margin-bottom: 0.5208vw;
}
@media screen and (max-width: 991px) {
  .slider-info-section {
    padding-top: 55px;
    padding-bottom: 55px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .slider-info-section .slider-info {
    padding-bottom: 20px;
  }
  .slider-info-section .block-image {
    margin-left: 20px;
  }
  .slider-info-section .block-image img {
    display: block;
    width: 19.7917vw;
    height: 16.4583vw;
  }
  .slider-info-section .block-content {
    margin-top: 50px;
    max-width: 700px;
    width: 100%;
  }
  .slider-info-section .section-caption {
    margin-bottom: 10px;
  }
  .slider-info-section .sc-title {
    font-size: 59px;
  }
  .slider-info-section .block-text {
    font-size: 31px;
  }
}
@media screen and (max-width: 768px) {
  .slider-info-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FBFBFC;
  }
  .slider-info-section .slider-info-item {
    flex-direction: column;
  }
  .slider-info-section .slider-info {
    padding-bottom: 20px;
  }
  .slider-info-section .block-image {
    margin-left: 0;
  }
  .slider-info-section .block-image img {
    display: block;
    width: 240px;
    height: auto;
    margin: 0 auto;
  }
  .slider-info-section .block-content {
    margin-top: 50px;
    max-width: 700px;
    width: 100%;
  }
  .slider-info-section .section-caption {
    margin-bottom: 10px;
  }
}
.block-info {
  display: flex;
  flex-wrap: wrap;
  padding-right: 10.625vw;
}
.block-info .block-item {
  display: flex;
}
.block-info .block-item + .block-item {
  margin-top: 5.2083vw;
}
.block-info .block-item:nth-child(2n) .block-content {
  order: -1;
}
.block-info .block-item:nth-child(2n) .block-image {
  margin-left: 0;
  margin-right: 2.6042vw;
}
.block-info .block-item .block-content .section-caption .sc-title {
  margin-bottom: 1.5625vw;
  color: #F05353;
}
.block-info .block-item .block-content .section-caption img {
  display: none;
}
.block-info .block-item .block-image {
  margin-left: 2.6042vw;
}
.block-info .block-item .block-image img {
  display: block;
  height: auto;
  width: 100%;
}
.block-info .block-item .block-btn {
  margin-top: 1.5625vw;
  display: flex;
}
.block-info .block-item .block-btn a {
  display: flex;
}
.block-info .block-item .block-btn a + a {
  margin-right: 1.5625vw;
}
.block-info .block-item .block-text ul li {
  position: relative;
  padding-right: 1.0417vw;
}
.block-info .block-item .block-text ul li::before {
  content: "";
  position: absolute;
  top: 0.7813vw;
  right: 0;
  width: 0.2604vw;
  height: 0.2604vw;
  margin-right: 0.2604vw;
  border-radius: 50%;
  background: #2F2970;
}
@media screen and (max-width: 991px) {
  .block-info {
    padding-right: 0;
  }
  .block-info .block-item {
    display: flex;
  }
  .block-info .block-item + .block-item {
    margin-top: 100px;
  }
  .block-info .block-item:nth-child(2n) .block-image {
    margin-right: 50px;
  }
  .block-info .block-item .block-image {
    margin-left: 50px;
  }
  .block-info .block-item .block-image img {
    width: 300px;
  }
  .block-info .block-item .section-caption .sc-title {
    margin-bottom: 30px;
    font-size: 55px;
    line-height: 1;
  }
  .block-info .block-item .block-btn {
    margin-top: 30px;
  }
  .block-info .block-item .block-btn a + a {
    margin-right: 30px;
  }
  .block-info .block-item .block-text {
    font-size: 28px;
    line-height: 1.3;
  }
  .block-info .block-item .block-text ul li {
    padding-right: 20px;
  }
  .block-info .block-item .block-text ul li::before {
    top: 15px;
    width: 5px;
    height: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 768px) {
  .block-info .block-item + .block-item {
    margin-top: 50px;
  }
  .block-info .block-item:nth-child(2n) .block-content .section-caption img {
    order: 1;
  }
  .block-info .block-item .block-btn {
    justify-content: center;
  }
  .block-info .block-item .block-image {
    display: none;
  }
  .block-info .block-item .block-content .section-caption {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
  .block-info .block-item .block-content .section-caption img {
    width: 100%;
    display: block;
    order: -1;
  }
  .block-info .block-item .section-caption .sc-title {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 567px) {
  .block-info .block-item {
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  .block-info .block-item:nth-child(2n) .section-caption .sc-title {
    text-align: right;
  }
  .block-info .block-item .section-caption .sc-title {
    margin-bottom: 0;
    text-align: left;
  }
}