.footer{
	background: #2B1773;
	color: #fff;
    position: relative;
    z-index: 5;

	.footer-row{
		&.first{
			padding: 2.6042vw 0 1.9271vw;

			@media screen and (max-width: 767px){
				padding: 0;
			}

			.footer-inner{
				display: flex;
				justify-content: space-between;

				.footer-block{
					display: flex;
					flex-direction: column;
					flex: auto;
					
					@media screen and (min-width: 768px){
						padding: 1.5625vw 2.8646vw;

						&:first-child{
							padding-top: 0;
							padding-right: 0;
						}

						&:nth-child(2){
							min-width: 15.6250vw;
						}

						&:last-child{
							padding-left: 0;
							padding-top: 0.8333vw;
						}

						&:not(:last-child){
							border-left: 1px solid rgba(#fff, .3);
						}

						@media screen and (max-width: 991px){
							&:first-child{
								max-width: 300px;
							}
						}
					}
				}

				@media screen and (max-width: 767px){
					flex-direction: column;

					.footer-block{
						padding: 9.3458vw 0;

						&:not(:last-child){
							border-bottom: 1px solid rgba(#fff, .3);
						}

						&:nth-child(2){
							display: flex;
							flex-direction: row;
							align-items: flex-end;
							justify-content: space-between;
						}
					}
				}
			}
		}

		&.second{
			padding: 0.7813vw 0;
			background: transparent linear-gradient(270deg, #D4D1E5 0%, #8A83B7 45%, #6D65A6 66%, #5E5699 77%, #373077 96%, #2F2970 100%) 0% 0% no-repeat padding-box;

			.footer-inner{
				display: grid;
				grid-template-columns: repeat(3, min-content);
				align-items: center;
				white-space: nowrap;
				justify-content: space-between;

				.footer-block:first-child{
					grid-column: 2;
				}
			}
		}
	}

	.subscribe-form{
		margin-top: auto;

		@media screen and (min-width: 768px){
			margin-right: 3.1250vw;
		}
	}

	.socials-block{
		margin-top: auto;
	}

	.a11y-link{
		.link-icon{
			fill: #fff;

			&:hover,
			&:focus{
				fill: $primary;
			}
		}
	}

	.go-to-top-btn{
		position: absolute;
		right: 5.7292vw;
		bottom: calc(100% + 1.8229vw);
		font-size: 1.3021vw;
		line-height: 0.88;
		width: 6.6146vw;
		height: 3.8542vw;
		text-align: center;
		color: #2B1773;
		z-index: 20;

		&:after{
			content: '';
			display: block;
			width: 4.5833vw;
			height: 2.7604vw;
			position: absolute;
			right: 0;
			bottom: 0;
			background: url(../img/decorations/go-up-arrow.png) no-repeat center center / contain;
			transform-origin: -30% -30%;
			transition: all $t;
		}

		&:hover,
		&:focus{
			&:after{
				transform: translate(10%, 5%) rotate(-12deg);
			}
		}

		@media screen and (max-width: 991px){
			display: none;
		}
	}
}

.footer-logo{
	display: block;
	margin-bottom: 1.5625vw;
	align-self: flex-start;

	img{
		display: block;
		height: 9.4792vw;
		width: auto;
	}

	@media screen and (max-width: 767px){
		margin-bottom: 40px;
		align-self: center;

		img{
			height: 182px;
		}
	}
}

.subscribe-form{
	.form-caption{
		margin-bottom: 0.8333vw;
		@include h3;
		white-space: nowrap;
	}

	.form-fields{
		display: flex;

		.form-field{
			&.first{
				width: 8.2292vw;
				margin-left: 1.3542vw;
			}

			&.second{
				flex: auto;

				.input-field{
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}

		.send-btn{
			background: $primary;
			border-radius: 0.3125vw 0 0 0.3125vw;
			width: 2.8646vw;
			height: 2.5000vw;
			display: flex;
			align-items: center;
			justify-content: center;

			&:after{
				content: '';
				display: block;
				width: 0.7813vw;
				height: 0.5208vw;
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.75 9.88'%3E%3Cpath d='M13.37 9.58a.78.78 0 001.18.07.81.81 0 00-.12-1.18l-3.6-3.5 3.64-3.56a.84.84 0 00.08-1.18.76.76 0 00-1.18.11l-4.06 4.1a.73.73 0 000 1.07zm-9.08 0a.78.78 0 001.18.07.81.81 0 00-.11-1.18l-3.61-3.5 3.64-3.56A.84.84 0 005.47.23a.76.76 0 00-1.18.11L.23 4.44a.73.73 0 000 1.07z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
			}

			&:hover,
			&:focus{
				background: darken($primary, 10%);
			}
		}
	}

	@media screen and (max-width: 991px){
		.form-caption{
			margin-bottom: 10px;
			white-space: normal;
		}

		.form-fields{
			flex-wrap: wrap;

			.form-field{
				&.first{
					width: 100%;
					margin-left: 0;
					margin-bottom: 10px;
				}

				&.second{
					width: calc(100% - 54px);

					@media screen and (max-width: 575px){
						width: calc(100% - 12.6168vw);
					}
				}
			}

			.send-btn{
				border-radius: 6px 0 0 6px;
				width: 54px;
				height: 38px;
				
				&:after{
					width: 16px;
					height: 10px;
				}

				@media screen and (max-width: 575px){
					border-radius: 1.4019vw 0 0 1.4019vw;
					width: 12.6168vw;
					height: 11.2150vw;
				
					&:after{
						width: 3.7383vw;
						height: 2.3364vw;
					}
				}
			}
		}
	}

	@media screen and (max-width: 767px){
		.form-caption{
			text-align: center;
			font-size: 7.2430vw;
		}

		.form-fields{
			.form-field.first{
				margin-bottom: 4.6729vw;
			}
		}
	}
}

.footer-nav{
	margin-bottom: 1.5625vw;

	ul{
		font-size: 1.3021vw;
		line-height: 1.25;

		li{
			margin-bottom: 1.25em;

			&:last-child{
				margin-bottom: 0;
			}

			a{
				color: inherit;

				&:hover,
				&:focus{
					color: $primary;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		margin-bottom: 24px;

		ul{
			font-size: 18px;
		}
	}

	@media screen and (max-width: 767px){
		margin-bottom: 0;

		ul{
			font-size: 5.8411vw;
		}
	}
}

.socials-block{
	.block-caption{
		font-size: 1.3021vw;
		line-height: 1.25;
		margin-bottom: 0.8333vw;
		color: rgba(#fff, .45);
		font-weight: 400;
	}

	.block-list{
		display: flex;

		li{
			&:not(:last-child){
				margin-left: 1.2500vw;
			}

			a{
				color: inherit;

				&:hover,
				&:focus{
					color: $primary;
				}
			}

			svg{
				width: 1.6667vw;
				height: 1.6667vw;
				fill: currentcolor;
				display: block;
			}
			#youtube{
				svg{
					width: 2vw;
					height: 2vw; 
					@media screen and (max-width: 991px){
						width: 30px;
						height: 30px; 
					}
					@media screen and (max-width: 767px){
						width: 6.6075vw;
						height: 6.6075vw;
					}
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		.block-caption{
			font-size: 18px;
			margin-bottom: 10px;
		}

		.block-list{
			li{
				&:not(:last-child){
					margin-left: 16px;
				}

				svg{
					width: 24px;
					height: 24px;
				}
			}
		}
	}

	@media screen and (max-width: 767px){
		.block-caption{
			font-size: 5.8411vw;
			margin-bottom: 1em;
			text-align: center;
		}

		.block-list{
			li{
				&:not(:last-child){
					margin-left: 3.7383vw;
				}

				svg{
					width: 5.6075vw;
					height: 5.6075vw;
				}
			}
		}
	}
}

.contact-form{
	width: 20.1042vw;

	.form-caption{
		@include h3;
		margin-bottom: 0.8333vw;
	}

	.form-fields{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1.0417vw;

		.fullwidth{
			grid-column: 1 / -1;
		}

		textarea{
			height: 5.4688vw;
		}
	}

	.form-footer{
		margin-top: 1.6667vw;
		display: flex;
		justify-content: flex-end;
	}

	@media screen and (max-width: 991px){
		width: 100%;
		max-width: 240px;

		.form-fields{
			grid-gap: 10px;

			textarea{
				height: 80px;
			}
		}
	}

	@media screen and (max-width: 767px){
		max-width: unset;

		.form-caption{
			text-align: center;
			margin-bottom: 4.6729vw;
		}

		.form-fields{
			grid-gap: 4.6729vw;

			textarea{
				height: 22.4299vw;
			}
		}
	}
}

.copyright{
	font-size: 1.3021vw;
	line-height: 1.25;
	text-align: center;

	@media screen and (max-width: 991px){
		font-size: 16px;
	}

	@media screen and (max-width: 767px){
		font-size: 4.6729vw;
	}
}