@font-face{
	font-family: 'Mikhmoret'; 
	src: url('../fonts/mikhmoret-rounded-regular-aaa.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

@font-face{
	font-family: 'Mikhmoret'; 
	src: url('../fonts/mikhmoret-rounded-light-aaa.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 300;
}

@font-face{
	font-family: 'Mikhmoret'; 
	src: url('../fonts/mikhmoret-rounded-bold-aaa.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 700;
}