// Fonts
$main-font: 'Mikhmoret', Arial, sans-serif;
$second-font: 'Mikhmoret', $main-font;

// Colors
$red: #F05353;
$blue: #2F2970;
// $blue: #186282;

$gray: $blue;
$dark: $blue;
$light: $blue;

$text-color: $gray;
$text-dark: $dark;
$text-light: $light;

$primary: $red;
$accent: $blue;

// Params
$gradient: linear-gradient(180deg, #310000 0%, #000000 100%);
$body-bg: rgba($blue, .1); // site background
$t: .3s; // animation duration
$r: 0; // default border radius
$shadow: unset; // default card shadow