.btn{
	text-align: center;
	padding: 0.3125vw 0.9375vw;
	min-height: 2.5000vw;
	border-radius: 0.3125vw;
	font-size: 1.5625vw;
	line-height: 1.1;
	font-weight: 400;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all $t;
	cursor: pointer;
	appearance: none;
	white-space: nowrap;
	border: 1px solid $primary;
	color: #fff;
	background: $primary;

	&:hover,
	&:focus{
		background: darken($primary, 10%);
		border-color: darken($primary, 10%);
		outline: none;
	}

	&.btn-light{
		background: transparent;
		color: $primary;

		&:hover,
		&:focus{
			color: #fff;
			background: darken($primary, 10%);
			border-color: darken($primary, 10%);
		}
	}

	&.btn-small{
		font-size: 1.3021vw;
	}

	&.btn-large{
		font-size: 1.8229vw;
	}

	&.fullwidth{
		width: 100%;
	}
}