.form{
	.input-field,
	textarea,
	.select-field select{
		border: 0;
		border: 0.1042vw solid #fff;
		appearance: none;
		background: transparent;
		border-radius: 0;
		flex: auto;
		height: 3.1250vw;
		font-size: 1.2500vw;
		font-weight: 400;
		color: #fff;
		font-family: inherit;
		padding: 0;
		outline: none !important;
		transition: all $t;
		width: 100%;
		box-shadow: none;
		text-align: center;
		border-radius: 1.5625vw;

		&::placeholder{
			opacity: 1;
			color: #fff;
		}

		&:focus{
			border-color: $accent;
		}

		@media screen and (max-width: 991px){
			border-width: 1px;
			height: 11.1111vw;
			border-radius: 5.5556vw;
			font-size: 4.4444vw;
		}
	}
}

.checkbox,
.wpcf7-checkbox label{
	display: block;

	.fake-label,
	.wpcf7-list-item-label{
		display: block;
		padding-right: 1.4583vw;
		position: relative;
		font-size: 0.9375vw;
		line-height: 1.0417vw;
		font-weight: 400;
		color: #fff;
		transition: all $t;
		cursor: pointer;
		display: block;

		&:before{
			content: '';
			display: block;
			width: 1.0417vw;
			height: 1.0417vw;
			border: 1px solid #fff;
			position: absolute;
			right: 0;
			top: 0;
			transition: all $t;
		}

		&:after{
			content: '';
			display: block;
			width: 1.0417vw;
			height: 1.0417vw;
			position: absolute;
			right: 0;
			top: 0;
			opacity: 0;
			transition: all $t;
			transform: scale(0.7);
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpath d='M14.71 1.21a1 1 0 00-1.42 0L5.84 8.67 2.71 5.53A1.02 1.02 0 101.29 7l3.84 3.84a1 1 0 001.42 0l8.16-8.16a1 1 0 000-1.47z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
		}

		@media screen and (max-width: 991px){
			padding-right: 6.6667vw;
			font-size: 3.8889vw;
			line-height: 4.4444vw;

			&:before,
			&:after{
				width: 4.4444vw;
				height: 4.4444vw;
			}
		}
	}

	&:hover,
	&:focus{
		.fake-label,
		.wpcf7-list-item-label{
			opacity: .8;
		}
	}

	input:checked + .fake-label,
	input:checked + .wpcf7-list-item-label{
		// color: $darkgreen;
		opacity: 1;

		&:before{
		}

		&:after{
			opacity: 1;
		}
	}
}

// .form{
// 	.columns-2{
// 		display: grid;
// 		grid-template-columns: 1fr 1fr;
// 		grid-gap: 2.2222vw 2.7778vw;

// 		.fullwidth{
// 			grid-column: 1 / -1;
// 		}

// 		@media screen and (max-width: 1199px){
// 			grid-gap: 24px;
// 		}

// 		@media screen and (max-width: 575px){
// 			grid-template-columns: 1fr;
// 		}
// 	}
// }

// .file-input{
// 	.fake-label{
// 		cursor: pointer;
// 		border: 1px solid #3E291B;
// 		text-align: center;
// 		font-size: 0.9722vw;
// 		line-height: 1;
// 		color: #fff;
// 		padding: 0.5vw 1.1111vw;
// 		width: 100%;
// 		height: 100%;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		width: 100%;
// 		height: 3.1944vw;
// 		transition: all $t;

// 		small{
// 			font-size: inherit;
// 			color: #3E291B;
// 		}

// 		&:hover{
// 			border-color: $primary;
// 		}

// 		@media screen and (max-width: 1199px){
// 			font-size: 14px;
// 			padding: 5px 16px;
// 			height: 46px;
// 		}
// 	}

// 	&:hover,
// 	&:focus-within{
// 		outline: none;

// 		.fake-label{
// 			border-color: $primary;
// 		}
// 	}
// }








@mixin label-form{
	font-size: 1.3542vw; //26px
	line-height: 1;
	font-weight: bold;
	color: $text-color;
	font-family: inherit;
}
 
.contact-form{
	&.form{
		input,textarea{
			padding: 0 0.6250vw;
		}
		.form-field{
			& + .form-field{
				margin-top: 2.0833vw;
			}
		}
		.form-textarea {
			textarea {
				margin-top: 0;
				resize: none;
				padding-bottom: 0.5208vw;
				border: 0.1042vw solid $gray;
				height: auto;
				min-height: 11.0938vw;
			}
		} 
		.form-submit {
			margin-right: auto;
			margin-top: 2.6042vw;
			input,button {
				cursor: pointer; 
				padding-bottom: 0;
				padding-top: 0;
				min-height: 3.4375vw;
				font-size: 1.6667vw;
			}
		} 
		.form-radio-box{  
			display: flex;
			flex-wrap: wrap;
			margin: 0 -0.6250vw;
			margin-top: 2.0833vw;
			.text { 
				@include label-form;
				margin-bottom: 2.3625vw;
				display: block;
				width: 100%; 
			}
			.text, .form-radio-item{
				padding: 0 0.6250vw;
			}
			.form-radio-item {
				display: flex;
				align-items: center;
			} 
			.radio{
				padding: 0 0.6250vw;
				cursor: pointer;
				position: relative;
				
				input[type=radio] {
					position: absolute;
					top: 0;
					right: 0;
					width: 0.0521vw;
					height: 0.0521vw;
					margin: -0.0521vw;
					bottom: 0;
					padding: 0;
					clip: rect(0 0 0 0);
					overflow: hidden;
					&:focus+span {
						text-decoration: underline;
					}
				}
	
				input[type=radio]+span {
					font-size: 1.3542vw;
					line-height: 1;
					vertical-align: text-top;
					top: -0.4167vw;
					html[dir="ltr"] &{ 
						// margin-left: 2.6042vw;
					} 
					html[dir="rtl"] &{ 
						// margin-right: 2.6042vw;
					}
				}
	
				input[type=radio]+span:before {
					content: '';
					border-radius: 0;
				}
	
				input[type=radio]+span:before {
					display: block;
					position: relative;
					background: transparent; 
					height: 1.5625vw;
					width: 1.5625vw;
					border: 0.1563vw solid $gray; //3
					border-radius: 50%;
					top: -0.3125vw;
					html[dir="ltr"] &{ 
						left: 0;  
					}
	
					html[dir="rtl"] &{ 
						right: 0;  
					}
				}
	
				input[type=radio]:checked+span:after {
					content: "";
					// background-image: url(../img/icon/check.svg);
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					background: $gray;
					width: 0.7292vw;
					height: 0.7292vw; 
					border-radius: 50%; 
					top: 0.1042vw;
					html[dir="ltr"] &{ 
						left: 0.4167vw;
					}
	
					html[dir="rtl"] &{ 
						right: 0.4167vw; 
					}
				} 
			}
			.fake-label {
				display: flex; 
				position: relative; 
				&:before {
					content: '';
					border-radius: 0;
					display: block;
					position: relative;
					top: 0;
					right: 0;
					height: 1.5625vw; //30
					width: 1.5625vw;
					border: 0.1563vw solid $gray; //3
					border-radius: 50%;
					margin-right: 0.7813vw;
				}
				sup{
					font-size: 1vw;
					line-height: 1;
				}
			} 
			// .fake-text {
			//     html[dir="ltr"] &{ 
			//         margin-left: 1.0417vw;
			//     } 
			//     html[dir="rtl"] &{ 
			//         margin-right: 1.0417vw;
			//     }
			//     sup{
			//         font-size: 1.2500vw;
			//         line-height: 0.5;
			//     }
			// }
		}
		.form-col{
			margin-top: 2.0833vw;
			.form-label{
				@include label-form; 
			}
			.form-textarea{
				textarea{
					margin-top: 1.5625vw;
				}
			}
		}
		.form__checkbox{
			margin-top: 2.0833vw;
		}
	}
} 


.form__checkbox{
	input[type=radio]:checked+.fake-label>.fake-checkbox:after {
		content: "";
		// background-image: url(../img/icon/check.svg);
		background-color: $gray;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		width: 0.6250vw;
		height: 0.6250vw;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.fake-label{
		.fake-checkbox {
			position: relative;
			&:before {
				content: ''; 
				display: block;
				position: relative;
				top: 0;
				right: 0;
				height: 1.5625vw; //30
				width: 1.5625vw;
				border: 0.1563vw solid $gray; //3
				border-radius: 50%;
			}
		}
	}  
	
	/* custom checkbox styling for contact form 7 checkbox */

	.wpcf7-checkbox label {
		position: relative;
		cursor: pointer;
		align-items: center;
		display: flex;
		height: 0.7813vw; //15
	}

	.wpcf7-checkbox input[type=checkbox] {
		position: absolute;
		top: 0;
		right: 0;
		width: 0.0521vw;
		height: 0.0521vw;
		margin: -0.0521vw;
		bottom: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
		&:focus+span {
			text-decoration: underline;
		}
	}

	.wpcf7-checkbox input[type=checkbox]+span {
		font-size: 1.3542vw;
		line-height: 1;
		vertical-align: text-top;
		top: -0.4167vw;
		html[dir="ltr"] &{ 
			margin-left: 2.6042vw;
		} 
		html[dir="rtl"] &{ 
			margin-right: 2.6042vw;
		}
	}

	.wpcf7-checkbox input[type=checkbox]+span:before {
		content: '';
		border-radius: 0;
	}

	.wpcf7-checkbox input[type=checkbox]+span:before {
		display: block;
		position: absolute;
		background: transparent; 
		height: 1.5625vw;
		width: 1.5625vw;
		border: 0.1563vw solid $gray; //3
		border-radius: 50%;
		top: -0.3125vw;
		html[dir="ltr"] &{ 
			left: 0;  
		}

		html[dir="rtl"] &{ 
			right: 0;  
		}
	}

	.wpcf7-checkbox input[type=checkbox]:checked+span:after {
		content: "";
		// background-image: url(../img/icon/check.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		background: $gray;
		width: 0.7292vw;
		height: 0.7292vw; 
		border-radius: 50%; 
		top: 0.1042vw;
		html[dir="ltr"] &{ 
			left: 0.4167vw;
		}

		html[dir="rtl"] &{ 
			right: 0.4167vw; 
		}
	}
	@media screen and (max-width: 768px) {
		/* custom checkbox styling for contact form 7 checkbox */
		// .wpcf7-checkbox label {
		//     height: 18px;
		// }
		// .wpcf7-checkbox input[type=checkbox]+span{
		//     margin-right: 30px;
		// }
		// .wpcf7-checkbox input[type=checkbox]+span:before {
		//     height: 18px;
		//     width: 18px;
		// }
		// .wpcf7-checkbox input[type=checkbox]:checked+span:after {
		//     width: 20px;
		//     height: 20px;
		//     right: -7px;
		// }
		// .form__checkbox{
		//     margin-left: auto;
		// }
	}
 
} 