.about-course-section {
    padding-top: 2.6042vw; //50
    padding-bottom: 2.6042vw; //50
    background-color: #fff;
    //TODO remove indents
    margin-top: 6.3542vw; //122
    padding-right: 14.7917vw; //284
    padding-left: 14.7917vw; //284
    @media screen and (max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 50px; 
        //TODO remove indents
        margin-top: 122px;
        padding-right: 37px;
        padding-left: 37px;
    }
    @media screen and (max-width: 768px) {  
    }
    @media screen and (max-width: 460px) {
        margin-top: 122px;
        padding-top: 50px;
        padding-bottom: 50px;
        //TODO remove indents
        padding-right: 30px;
        padding-left: 30px;   
    }
}