.slider-info-section { 
    padding: 2.8646vw 0;// 55
    padding-left: 14.7917vw;// 284
    padding-right: 14.7917vw;// 284
    .slider-info {
        padding-bottom: 1.0417vw;// 20
    }
    .slider-info-item {
        display: flex;
        justify-content: center;
    }
    .block-image {
        margin-left: 1.0417vw;// 20
        img{
            display: block;
            width: 19.7917vw;// 380
            height: 16.4583vw;// 316
        }
    }
    .block-content {
        margin-top: 5.2083vw;// 100
        max-width: 36.4583vw; //700
        width: 100%;
    }
    .section-caption {
        margin-bottom: 0.5208vw;// 10
    }
    .sc-title {
    }
    .block-text {
    }
    .slick-arrow.slick-next{ 
        margin-top: -1.5625vw;// 30
    }
}