.page-template-essence{ 
    .block-info .block-item .block-image img.absolute{  
        position: absolute; 
        width: 58.2292vw;
        height: 44.7708vw;
        top: -5.7292vw;
        right: -13.7500vw;
        z-index: -1;
        @media screen and (max-width: 991px) {   
            width: 80.0202vw;
            height: 62.5631vw;
            top: -109px;
            right: -26.6398vw;
            z-index: -1;
        } 
        @media screen and (max-width: 768px) {  
            width: 113.5514vw;
            height: 97.6636vw; 
            right: -2.5701vw;
            top: -97.4299vw; 
        } 
    }
    .slider-info-section {
        &:after{
            content: initial;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover; 
            background-image: url(../img/decorations/essence-bottom-bg.png); 
            width: 35.4688vw;
            height: 31.7708vw;
            top: -31.46vw; 
            right: 15.6250vw;
            z-index: 1;
            @media screen and (max-width: 991px) {  
                width: 380px;
                height: 376px;
                top: -337px;
                right: 20px;
            } 
            @media screen and (max-width: 768px) {  
                width: 113.5514vw;
                height: 97.6636vw; 
                right: -2.5701vw;
                top: -97.4299vw;
            
            } 
        } 
        &::before{ 
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover; 
            background-image: url(../img/content-images/commas-mobil-zero.png); 
            z-index: 1; 
            @media screen and (max-width: 768px) {  
                width: 55.6075vw;
                height: 44.6262vw;
                right: 0;
                left: 0;
                margin: 0 auto; 
                top: -6.0748vw;
                z-index: 2; 
            }
        }
    }
    
    @media screen and (min-width: 769px) { 
        .block-info{
            .block-item{
                .block-image img{ 
                    opacity: 0; 
                    &.absolute{
                        opacity: 1;
                    }
                }
            } 
        }
        .about-essence-section{
            &::after{
                content:initial;
                top: -0.1563vw;
                background-image: url("../img/decorations/autor-svg.svg");
            }
        }
    }
}
.slider-info-section {
    padding: 3.1250vw 0 5.9896vw; // 60 115
    background-color: #FAFAFB; 
    position: relative;
    .slider-info {
        padding-bottom: 1.0417vw; // 20 
    }
    .slider-info-item {
        display: flex;
        justify-content: center;
    }
    .block-image {
        margin-left: 1.0417vw; // 20
        img {
            display: block;
            width: 19.7917vw; // 380
            height: 16.4583vw; // 316
            opacity: 0.5; 
        }
    }
    .block-content {
        margin-top: 5.2083vw; // 100
        max-width: 25.4167vw; //488
        width: 100%;
    } 
    .section-caption {
        margin-bottom: 0.5208vw; // 10
        .sc-title {
            user-select: text; 
        }
    }
    .block-text {
        font-weight: 300;
        user-select: text; 
    }
    @media screen and (max-width: 991px) {
        padding-top: 55px;
        padding-bottom: 55px; 
        .slider-info {
            padding-bottom: 20px;
        }
        .block-image {
            margin-left: 20px;
            img {
                display: block;
                width: 19.7917vw;
                height: 16.4583vw;
            }
        }
        .block-content {
            margin-top: 50px;
            max-width: 700px;
            width: 100%;
        }
        .section-caption {
            margin-bottom: 10px;
        }
        .sc-title {
            font-size: 59px;
        }
        .block-text {
            font-size: 31px;
            font-weight: 300;
        }
    }
    @media screen and (max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #FBFBFC;
        .slider-info-item {
            flex-direction: column;
        }
        .slider-info {
            padding-bottom: 20px;
        }
        .block-image {
            margin-left: 0;
            img {
                display: block;
                width: 240px;
                height: auto;
                margin: 0 auto;
            }
        }
        .block-content {
            margin-top: -60px;
            max-width: 700px;
            width: 100%;
        }
        .section-caption {
            margin-bottom: 10px;
        }
    }
    @media screen and (max-width: 575px) {
        padding-top: 7.0093vw; //30
        padding-bottom: 12.8505vw; //55 
        background-color: #FBFBFC;
        .slider-info-item {
            flex-direction: column;
        }
        .slider-info {
            padding-bottom: 4.6729vw; //20  
        }
        .block-image {
            margin-left: 0;
            img {
                display: block;
                width: 56.0748vw; //240
                height: auto;
                margin: 0 auto;
            }
        }
        .block-content {
            margin-top: -14.0187vw; //60  
            max-width: 163.5514vw; //700  
            width: 100%;
        }
        .section-caption {
            margin-bottom: 2.3364vw; //10 
        }
        .sc-title {
            font-size: 13.0187vw;
            letter-spacing: -2px;
        }
        .block-text {
            font-size: 7.0093vw; //30
        }
    }
}